main.home-main {
  overflow: hidden;

  .program-grid {
    display: flex;

    @include respond('medium') {
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
    }
  }

  @include respond('medium') {
    min-width: 100%;
    margin-bottom: 2rem;
    
    .home-main--reviews {
      display: flex;
      flex-direction: column;

      .review-button {
        width: 50%;
        align-self: center;
      }
    }
  }

  @include respond('extra-small') {
    min-width: 320px;
  }
}