main.home-main {
  overflow: hidden;

  .program-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-bottom: 10px;

    &--infants, &--twos, &--preschool, &--private-pre-k, &--after-school, &--summer-school {
      display: inline-grid;
      justify-items: center;
    }

    &--picture {
      height: 250px;
    }

    @include respond('medium') {
      grid-template-columns: repeat(1, auto);
      align-items: center;
      margin: 2rem 0;
    }
  }

  @include respond('medium') {
    min-width: 100%;
    margin-bottom: 2rem;
    
    .home-main--reviews {
      display: flex;
      flex-direction: column;

      .review-button {
        width: 50%;
        align-self: center;
      }
    }
  }

  @include respond('extra-small') {
    min-width: 320px;
  }
}

.home-main--reviews {
  margin-bottom: 1rem;
}