*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: $color-white;
  // color: set-text-color($color-primary);
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .Site-content {
    flex: 1;

    @include respond('medium') {
      margin-bottom: 2rem;

      h1, button {
        text-align: center;
      }

      h1 {
        margin-bottom: 1rem;
      }

      p, blockquote {
        margin: 0 10px;
      }

      figcaption {
        margin-left: 1.5rem;
        margin-top: 1rem;
      }
    }
  
    main {
      &[class$=-main] {
        width: 80%;
        padding: 5rem 0 4rem 5rem;

        @include respond('large') {
          padding: 7rem 0 0 0;
          margin: auto;
        }

        @include respond('medium') {
          padding: 3rem 0 0 0;
          margin: auto;
        }

        @include respond('extra-small') {
          padding: 2.5rem 0 0 0;
        }
      }
    }

    a {
      color: $color-secondary;
      text-decoration: none;

      &:hover {
        color: $dark-green-1;
        @include easeOut();
      }
    }

    ul {
      list-style-type: none;
    }
  }
}