@include menu;

// Tablets & Small Laptops
@include mediaMd {
    @include mobileMenu;

    main {
        align-items: center;
        text-align: center;
    }

    .nav-link {
        font-size: 24px;
    }
}

// Smartphones
@include mediaSm {
    @include mobileMenu;

    .siteContent {
        margin-top: 5rem;
    }

    .page-content {
        margin-left: 0;
        margin-top: 0;
    }

    .about-links {
        font-size: 18px;
        font-weight: bold;
        margin-top: 4px;
        margin-bottom: 2px;
        color: purple;
        text-decoration: underline;
    }

    main {
        padding: 2rem;
        margin-top: -70px;
        margin-left: -15px;
    }

    ul {
        margin-left: -40px;
    }

    .nav-link {
        font-size: 17px;
    }
}
