.main-footer {
  text-align: center;
  padding: .75rem;
  background-color: $color-white;
  color: $color-black;
  border-top: $border-top;

  h1 {
    margin-bottom: 1rem !important;
  }

  &--locations, &--social, &--links, &--logo {
    margin: 1rem 0;
  }

  &--locations_buttons {
    display: flex;
    justify-content: center;

    @include respond('medium') {
      flex-direction: column;
      margin-bottom: 5px;
    }
    
    & button {
      margin: 0 5px;

      @include respond('medium') {
        margin-bottom: 1rem;
      }
    }
  }

  &--social {
    a {
      .fab {
        padding: .4rem;
        font-size: 2rem;
        color: $dark-blue;
        &:hover {
          color: $light-blue;
          transition: all .5s ease-out;
        }
      }
    }
  }

  &--links {
    @include respond('medium') {
      display: flex;
      flex-direction: column;
    }
  }
}