.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background-color: $color-white;
  border-bottom: $border-top;

  @include respond('medium') {
    flex-direction: column;
      .navbar {
        padding: 1.4rem 3rem;

        .navbar-toggler {
          position: absolute;
          z-index: 3;
          right: 10px;
          top: 2px;
        }

        .nav {
          flex-direction: column;

          &-item {
            text-align: left;
            list-style-type: none;

              .nav-link {
                display: inline-block;
                position: relative;
                font-size: 24px;
                text-transform: uppercase;
                font-weight: 300;
                color: set-text-color($color-black) !important;
                text-decoration: none;

                &.active {
                    color: $color-secondary !important;
                }
              
                &:hover {
                    color: $color-secondary !important;
                    @include easeOut();
                }
              }
            }
        }
      }
    }

  .menu {
    &-nav {
        margin: 0;
        padding-left: 1rem;
        list-style: none;
    }

    button {
      &.active, &:active {
        background-color: $light-blue-2;
      }
    }
  
    .dropdown-item {
      width: 90%;
    }
  
    .nav {
      &-item {
        display: inline-block;
        text-align: left;
        list-style-type: none;
        padding: 1rem .3rem;
      }

      &-link {
        position: relative;
        padding: 0 .3rem 0 0 !important;
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 300;
        color: $color-black;
        text-decoration: none;

        &.no-hover-color {
          &:hover, &.active {
            color: $color-black;
          }
        }

        &.active {
          color: $color-secondary;
        }
  
        &:hover {
            color: $color-secondary;
            @include easeOut();
        }
      }
    }
  }
}